*:link,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	color: blue;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	background-color: white;
	padding: 0.5em 1em;
	width: calc(100% - 1em - 1em);
}
	button:hover, button:focus,
	input[type="button"]:hover, input[type="button"]:focus,
	input[type="submit"]:hover, input[type="submit"]:focus,
	input[type="reset"]:hover,  input[type="reset"]:focus {
		background-color: lightblue;
	}
	button:active,
	input[type="button"]:active,
	input[type="submit"]:active,
	input[type="reset"]:active {
		background-color: black;
		color: white;
	}
	@media (max-width: 1024px) {
		button,
		input[type="button"],
		input[type="submit"],
		input[type="reset"] {
			font-size: 80%;
		}
	}